In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [36]:
df = pd.read_csv("salary prediction multiple var.csv")
df

   exp_yrs  total_skills  salary
0        1             1       2
1        2             3       4
2        4             3       8
3        5             4      10
4        7             5      14
5       10             7      20

In [37]:
#lets name them as x y for easyness in future of code
x = df[["exp_yrs", "total_skills"]]
y = df["salary"]

In [54]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,
                                                 random_state=10)

***
x_train,x_test,y_train,y_test this is LHS bcoz the funtion 
train_test_split returns 4 values respectively to the order of LHS.
RHS= x, y data given to the model.
"test_size" is the percent of data to be kept for testing 
after the model is been created.(here only 70% of 
the data from the table will be given to the model to train)
random_state= pick any number, it selects data in a certain pattern
if we dont select random number parameter here then every time model
runs it will accept different random values and it will be difficult 
to debug

In [55]:
x_train

   exp_yrs  total_skills
0        1             1
3        5             4
4        7             5
1        2             3

In [56]:
x_test

   exp_yrs  total_skills
2        4             3
5       10             7

In [57]:
y_train

0     2
3    10
4    14
1     4
Name: salary, dtype: int64

In [58]:
y_test

2     8
5    20
Name: salary, dtype: int64

when we selected random number=10, a certain pattern was followed by the machine & row 0,3,4,1 were selected for training phase &
row number 2 and 5 was kept for testing phase by the machine.

In [61]:
reg = LinearRegression()
reg
#here a linearregression model was made with object name as "reg"

LinearRegression()

In [63]:
# fit function to give data to the model to train itself.
# we'll pass the  two variables as parameters that were made for 
# training by  train_test-split function
reg.fit(x_train,y_train)

LinearRegression()

In [67]:
reg.predict(x_test)

array([ 8., 20.])

In [68]:
#lets compare it with our orignal data, salary for row 2,5
#is it 8 and 20? YESSS!
df

   exp_yrs  total_skills  salary
0        1             1       2
1        2             3       4
2        4             3       8
3        5             4      10
4        7             5      14
5       10             7      20

now you need to know that we're not using "y_test" anywhere 
it was just made to store the orignal values and keep them hidden 
from the model. and later to be compared to see how good our model is.
here y_test = 8 and 20.
hence, our linearregression model is Excellent.

In [71]:
#score of accuracy.... (1 means 100%)
reg.score(x_test,y_test)

1.0

lets give independent variable to our model for prediction
which is not in our csv file(table)
suppose... exp_yrs=12 and total_skills=9

In [73]:
reg.predict([[12,9]])

C:\Users\Ravevx\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24.])

so, 24 is the salary when exp_yrs=12 and total_skills=9.